<!-- views/partials/login-form.handlebars -->

<div class='form-group'>
  <label for='email'>Email</label>
  <input
    name='email'
    class='form-control'
    placeholder='Email'
    value='{{user.email}}'
  />
</div>
<div class='form-group'>
  <label for='password'>Password</label>
  <input
    name='password'
    class='form-control'
    placeholder='Password'
    value='{{user.password}}'
  />
</div>