<!-- views/login.handlebars -->

<h1>Log In</h1>
<form action="/login" method="post">
  {{> login-form }}
  <div class="text-right">
    <button type="submit" class="btn btn-primary" name="button">Log In</button>
  </div>
</form>