<!-- views/sign-up.handlebars -->

<h1>Sign Up</h1>
<form action="/sign-up" method="post">
  {{> sign-up-form }}
  <div class="text-right">
    <button type="submit" class="btn btn-primary" name="button">Sign Up</button>
  </div>
</form>